0) Don't be a dick.
<br></br>
0.1) Do not use slurs both IC, and OOC.<br>
0.2) Do not get heated with other players in OOC, no one is here to listen to you talk shit.<br>
0.3) Do not get abusive with server staff. If a situation is not handled to your satisfaction, there are methods available for you to handle this in a constructive manner.<br>
0.4) Do not spam OOC.<br>
0.5) Do not advertise other servers.<br>
</br>
1) Desert Rose is a High Roleplay server.<br>
1.1) You are expected to RP first and foremost, and to uphold the suspension of disbelief and play a character that could believably be found in a Fallout game.<br>
1.2) Name your character appropriately, direct references to well known characters are not allowed. If someone has recognised your characters name from any medium, they are well known.<br>
1.3) Do not break immersion for other players. Having a laugh with your mates is fine, but as soon as a third party enters the picture you must contain yourselves.<br>
1.4) You are encouraged to build cross round relationships with other characters, you are allowed to remember each other between rounds.<br>
1.4.1) If one party does not wish a certain event to be remembered they may de-canonise the interaction across all subsequent rounds. All character deaths, and acts of escalation are not canon by default.<br>
<br>
</br>
2) Abusing in-game mechanics.<br>
2.1) Do not IC in OOC, do not OOC in IC.<br>
2.2) Do not join as a role, and desert for the free gear.<br>
2.3) Do not make use of known exploits.<br>
2.4) Do not interfere with SSD players in any way. You may move them inside the closest shelter to get them out of danger, otherwise ignore them. Do not pull hostile mobs to SSD's intentionally, and do not move them out of shelter once they are safe from the elements. You may put SSD’s in to a bed.<br>
2.5) Do not pull hostile mobs into other players for the express purpose of circumventing the combat rules, or weakening them pre-escalation. You may still escalate upon those who have fought hostile mobs.<br>
2.6) Do not use your knowledge of game mechanics to intentionally ruin the enjoyment of other players indirectly. This is a catch all for all actions ranging from blanketing the map in darkness, to causing server lag.<br>
2.7) Do not ghost or log out to avoid roleplay after being captured, being captured is a risk you take when playing on server, and you must be prepared to deal with that. If you do not wish to engage in roleplay with those that have captured you, you may make a request in LOOC to be executed instead.<br>
2.8) Do not respawn as the same character once your character has been killed, do not respawn as any relation or friend of your dead character as an excuse to continue escalation once your character has been killed.<br>
</br>
3) Escalation.<br>
3.1) Escalation of violence is required in all situations, regardless of faction. You are here to roleplay, not click each other horizontal. Murder should always be your last resort, not your immediate answer to any threat. In short, do not valid hunt.<br>
3.2)Escalation isn't something that can be easily drawn down to a formula, however this guideline is here to help you best judge a situation.<br>
  3.2.1) MOTIVE: Your character must have a robust, and well thought out motive to begin an engagement. If your character suffers any hostile action at the hands of another, this is considered adequate and immediate motive.<br>
    3.2.2) ENGAGEMENT: You must begin an engagement with interaction, this is a roleplay server and the point is to tell a story. You may be aggressive to start off, but you may not put your target on a finite timer. Do not shoot a player for not complying immediately. Although weapons may be drawn at this early junction, attempt to give your opponent the benefit of the doubt. Drawing and firing wordlessly is considered poor escalation.<br>
    3.2.3) NEGOTIATION: Both parties must make an attempt to get what they want through use of words, coercion, intimidation, blackmail and barter. At times this will be impossible, as one party demands a price too great. However, this stage may be used as a free space to attempt to de-escalate.<br>
    3.2.4) FORCE: Choose your force appropriately. There is no need to outright kill a man for passively resisting, nor is there a need to leave someone alive who has proven that they are willing to use lethal force upon you or your allies. <br>
3.3) Note that if you have issued a halt order, and your target does not comply you may give chase and attempt to capture them. If your target does not comply, and immediately begins assaulting you, you may kill them.<br>
3.3.1) If you choose to run during an interaction with a hostile force at any point, you have accepted that they have escalated upon you. They may take lethal action against you if they so choose.<br>
3.4) Escalation is maintained between encounters. However, you must make it clear that you are re-engaging. You may not break away from an engagement, and re-engage wordlessly several minutes later to gain an advantage.<br>
3.5) As long as you are in your faction uniform, and you see another faction member in danger you may jump in mid fight to assist them. Your faction uniform must be clearly visible on your sprite, obscuring it in any way gives you an unfair advantage.<br>
        3.5.1) Likewise if it is clear that you were in a group during escalation, even without a uniform you may leap to the defense of those around you.<br>
        3.5.2) Some factions like the town do not have set uniforms for most faction members, those without a uniform must follow the rule for engaging in an active conflict as normal. However those with a uniform may jump in to defend anyone under attack within their base (eg. the town).<br>
3.6) If you come across a fight already underway, you may enter it so long as you make it perfectly clear to the participants which side you are stepping in for.<br>
3.7) There is no bypassing escalation, wordlessly attacking anyone at any time will be considered grief and may be met with punishment without warning. This includes the end of round. There is no end of round grief allowed.<br>
3.8) If you have captured someone, you are expected to roleplay with them or get them to an area where they can be processed accordingly (for example, the kebob prison, a faction base, or a raider camp). <br>
3.8.1) You may not leave someone confined to an area alone for an extended period of time. If you intend to force them to perform a boring, repetitive task, you must ensure that there is someone present with them to roleplay with. Failure to comply with this standard is against the spirit of the server. An exemption can be made if the party OOC’ly approves of being left alone or to complete repetitive tasks, if you do not gain their consent - consider letting them go or finding a more appropriate end to their story.<br>
3.8.2) It is also expected that the detainee roleplay with the party that captured them, by engaging in low roleplay shittery you have made it clear that you have no intention to roleplay out the encounter and open yourself up to field execution.<br>
</br>
4) Antagonistic characters.<br>
4.1) Raiders are not exempt from the escalation rules.<br>
4.2) Player raiders must have a goal in mind beyond mindless killing, we have NPC raiders that fulfil this function. Player raiders are held to the same roleplay standards as all other player characters. Using raider as an excuse to valid other players is against the spirit of the server.<br>
4.3) Non raiders may not join raider gangs without extensive roleplay beforehand, nor may they act like raiders independently. If you did not secure your raider slot then you are not here to act as an antagonistic force. You may still hold slaves that you purchase from raiders. You may deal with raiders.<br>
4.4) Raiders may only jump in on fights to defend other raiders if both parties are wearing a set of raider gear. This is considered the faction uniform. Wastelanders in raider gear may not wordlessly jump in to assist a raider in a fight.<br>
</br>
5) Factions.<br>
5.1) If you are playing a faction, you are required to know the lore of that faction. By signing up for these roles you agree to follow the lore and canonical rules for these factions, or else face a ban or IC punishment at any time. This includes the BOS’s Chain that Binds, the NCR’s laws, and the Legion’s beliefs.<br>
5.2) Do not intentionally hinder your faction, you have signed on to work as part of that faction. If you disagree with the direction that the faction is taking that round, you are invited to matrix yourself to open up your slot to someone else.<br>
5.3) Do not desert your faction wordlessly because you are bored, or did not mean to join in the first place. There are systems in place to allow you to respawn as another role.<br>
5.4) Desertion is allowed only under the most trying of circumstances, if your leadership is consistently breaking lore, their faction rules, or server rules. You may renege, and if applicable ahelp their behavior.<br>
5.5) Raids upon faction bases are only ever sanctioned after one hour of in game time, with permission from an admin. The reason for this is three-fold. It allows the administration to ascertain whether or not the reason for conducting the raid is adequate, it allows administration to ensure that no metagaming has taken place to locate the base, and it allows administration to get into position to ensure that the rules are followed appropriately.<br>
    5.5.1) As well as the three obvious faction bases, the Vault, the Brotherhood bunker, and Kebob town. The Khan bar is also considered a faction base for the purposes of launching a raid, as well as any location adequately built up by players and populated by a large amount of people. Obviously territory taken, and held by the NCR and Legion are also considered part of their faction base.<br>
    5.5.2) Obviously some of these places are not secret, and most people canonically know where they are. Likewise some factions will have an automatic pass on the reason to raid each others base. However an adminhelp must be sent even if these two conditions are true, and a confirmation received.<br>
</br>
6) Communication.<br>
6.1) While this is an English speaking server, you are allowed to speak other languages in character.<br>
6.2) If you are unable to communicate in English OOCly, you will be disinvited from the server.<br>
6.3) If your English is not up to a basic standard, you may be ID checked on the spot.<br>
6.4) You are required to make yourself understood through robust emotes during escalation when playing a non english speaker.<br>
</br>
7) Misc.<br>
7.1) You are encouraged to ahelp with any questions, concerns, requests, or problems.<br>
7.2) If an admin redirects you to the discord, or marks your ticket as rejected, or an IC issue, do not get belligerent. There is always a good reason.<br>
7.3) Do not spam adminhelp, tickets are dealt with depending on how dire the situation, and then in order. If you suspect that administration is AFK, you may ping staff on the discord.<br>
7.4) Most reasonable requests are accepted, if your request is rejected then it has been deemed unreasonable.<br>
7.5) Do not use adminhelp as a way to have a conversation with the server administration.<br>
</br>
8) Consent.<br>
8.1) While this server does host NSFW content, players are allowed to opt out of scenes that make them uncomfortable. If a player requests that an ERP scene end via LOOC, break off immediately. Failure to comply will not be tolerated.<br>
8.2) Similarly, you are not allowed to use emotes to bypass fuck buttons when engaging in a scene with an obviously unwilling party. <br>
</br>
9) 18+ content.<br>
9.1) Knowingly interrupting an ERP scene without valid IC reasoning is unacceptable. "ERP is cringe" or "this kink is gross" are not valid IC reasonings. Any interruptions to roleplay must be roleplayed in kind and have a firm in-character grounding.<br>
9.1.1) Valid IC reasoning includes but is not limited to persons participating in the scene committing dereliction of duty, or having previously been involved in escalation.<br>
9.2) Kinkshaming. As with any game or forum with adult content present players are eventually going to find material that they find personally distasteful. Players are expected to conduct themselves in a mature manner and not target others for the kinks they enjoy. Should one be found harassing another player over their preference in kinks punishments will be handed down. <br>
9.2.1) That said, any content expressly forbidden by the Discord terms of service should be brought to the immediate attention of the admin staff.<br>
